@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* font-family: "Outfit", sans-serif;
Weights: 400, 700;

Font size (paragraph): 15px;


- Mobile: 375px
- Desktop: 1440px */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --gray: hsl(212, 45%, 89%);
  --light-blue: hsl(216, 15%, 48%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  height: 100vh;
  font-family: "Outfit", sans-serif;
}

.card{
    width: 300px;
    height: 450px;
    padding: 15px;
    background-color: var(--white);
    border-radius: 20px;
    text-align: center;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

h3{
    margin-top: 15px;
    font-size: 20px;
    color: var(--dark-blue);
}

.text{
    text-align: center;
    width: 250px;
    margin: 0 auto;
}

.text p{
    margin-top: 10px;
    color: var(--light-blue);
    font-size: 15px;
}
